div > div {
  display: grid;
  width: 400px;
  grid-template-columns: auto auto auto;
}
h2 {
  border: 5px solid black;
  height: 30px;
  text-align: right;
}

body > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: 500px;
}
